#Pear
#Created by Rixy :)
Options +FollowSymLinks -Indexes
ErrorDocument 404 /grp_portal-php/404.php
RewriteRule ^$ /grp_portal-php/root.php [L,NC,QSA]
RewriteRule ^communities$ /grp_portal-php/communities.php [L,NC,QSA]
RewriteRule ^communities/favorites$ /grp_portal-php/communities-showfavorites.php [L,NC,QSA]
RewriteRule ^my_menu$ /grp_portal-php/my_menu.php [L,NC,QSA]
RewriteRule ^news\/my_news$ /grp_portal-php/news.php [L,NC,QSA]
RewriteRule ^news\/friend_requests$ /grp_portal-php/friendrequests.php [L,NC,QSA]
RewriteRule ^posts$ /grp_portal-php/post-create.php [L,NC,QSA]
RewriteRule ^posts\/([^\/]+)$ /grp_portal-php/posts.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([^\/]+)\/empathies.delete$ /grp_portal-php/posts.php?id=$1&mode=empathies_delete [L,NC,QSA]
RewriteRule ^posts\/([^\/]+)\/([^\/]+)$ /grp_portal-php/posts.php?id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^posts\/([^\/]+).([^\/]+)$ /grp_portal-php/posts.php?id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^replies\/([^\/]+)$ /grp_portal-php/replies.php?id=$1 [L,NC,QSA]
RewriteRule ^replies\/([^\/]+)\/empathies.delete$ /grp_portal-php/replies.php?id=$1&mode=empathies_delete [L,NC,QSA]
RewriteRule ^replies\/([^\/]+)\/([^\/]+)$ /grp_portal-php/replies.php?id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^replies\/([^\/]+).([^\/]+)$ /grp_portal-php/replies.php?id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^users\/friend_request.accept.json$ /grp_portal-php/friend_request.php [L,NC,QSA]
RewriteRule ^users\/friend_request.cancel.json$ /grp_portal-php/friend_request.php?cancel [L,NC,QSA]
RewriteRule ^users\/friend_request.delete.json$ /grp_portal-php/friend_request.php?delete [L,NC,QSA]
RewriteRule ^users\/breakup.json$ /grp_portal-php/friend_request.php?breakup [L,NC,QSA]
RewriteRule ^my\/latest_following_related_profile_posts$ /grp_portal-php/my/follow-rel-posts.php [L,NC,QSA]
RewriteRule ^settings\/played_title_ids$ /grp_portal-php/my/played.php [L,NC,QSA]
RewriteRule ^friend_messages\/([^\/]+)$ /grp_portal-php/messages.php?user_id=$1 [L,NC,QSA]
RewriteRule ^friend_messages$ /grp_portal-php/messages.php [L,NC,QSA]
RewriteRule ^identified_user_posts$ /grp_portal-php/identified_user_posts.php [L,NC,QSA]
RewriteRule ^admin\/titles_create$ /grp_portal-php/create_title.php [L,NC,QSA]
RewriteRule ^admin\/communities_create$ /grp_portal-php/create_community.php [L,NC,QSA]
RewriteRule ^settings\/profile$ /grp_portal-php/profile_settings.php [L,NC,QSA]
RewriteRule ^settings\/account$ /grp_portal-php/account_settings.php [L,NC,QSA]
RewriteRule ^warning\/deleted_account$ /grp_portal-php/content/warnings/act_deleted.php [L,NC,QSA]
RewriteRule ^warning\/readonly$ /grp_portal-php/content/warnings/readonly.php [L,NC,QSA]
RewriteRule ^check_update.json$ /grp_portal-php/check_update.php [L,NC,QSA]
RewriteRule ^users$ /grp_portal-php/user-search.php [L,NC,QSA]
RewriteRule ^users\/@me$ /grp_portal-php/profile-me.php [L,NC,QSA]
RewriteRule ^users\/([^\/]+)$ /grp_portal-php/users.php?user_id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/friend_request.create.json$ /grp_portal-php/friend_request.php?create&user_id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/([^\/]+)$ /grp_portal-php/users.php?user_id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/check_can_post.json$ /grp_portal-php/generate_success.json [L,NC,QSA]
RewriteRule ^theme-set$ /grp_portal-php/theme-set.php [L,NC,QSA]
RewriteRule ^guest_menu$ /grp_portal-php/guest_menu.php [L,NC,QSA]
RewriteRule ^act\/([^\/]+)$ /grp_portal-php/act.php?pg=$1 [L,NC,QSA]
RewriteRule ^act\/ /grp_portal-php/act.php?pg=index [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)$ /grp_portal-php/titles.php?title_id=$1 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)$ /grp_portal-php/titles.php?title_id=$1&community_id=$2 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)\/new$ /grp_portal-php/titles.php?title_id=$1&community_id=$2 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)\/([0-9]+)$ /grp_portal-php/titles.php?title_id=$1&community_id=$2&mode=$3 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)\/favorite.json$ /grp_portal-php/communities-createfavorite.php?olive_community_id=$2 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)/([0-9]+)\/unfavorite.json$ /grp_portal-php/communities-createfavorite.php?olive_community_id=$2&delete [L,NC,QSA]
RewriteRule ^settings\/titles\/([0-9]+)$ /grp_portal-php/title_settings.php?title_id=$1 [L,NC,QSA]
php_value display_errors 1
